<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <meta name="theme-color" content="#DB0000"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  
  <title>Foodie Apps</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip To Content</a>
<header class="app-bar">
  <div class="app-bar__brand">
    <img src="https://i.imgur.com/kTEdn4u.png" alt="Foodie" />
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
      <li><a href="#/home">Home</a></li>
      <li><a href="#/like">Favorite</a></li>
      <li><a href="https://www.linkedin.com/in/muhammad-taufik-heryunanto-103223244/">About Us</a></li>
    </ul>
  </nav>
  <div class="app-bar__menu">
    <button id="hamburgerButton">☰</button>
  </div>
</header>
<main id="mainContent"></main>
<footer>
  <div class="wrapper">
    <small>&copy;2023 <strong>Foodie Apps</strong>, All Rights Reserved</small>
  </div>
</footer>
</body>
</html>